.imagen001 {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    vertical-align: text-top;
} 

.imagen002 {
    border-radius: 15px;
}

textarea {
    resize: none;
}

h4 {
    text-align: center;
}

form {
    text-align: center;
    border-radius: 15px;
    padding: 15px;
    background-color: blanchedalmond;
}

.cuadro {
    width: 85%;
}